.navbar .navbar-collapse a {
  text-decoration: underline;
  text-align: center;
  color: #fff; }
  .navbar .navbar-collapse a:visited {
    color: #fff; }

.navbar .navbar-collapse p {
  text-align: center;
  color: #fff; }

.navbar .navbar-collapse .buttonGroup {
  display: flex;
  justify-content: space-around; }
  .navbar .navbar-collapse .buttonGroup button {
    background-color: rgba(255, 255, 255, 0.377);
    color: rgba(255, 255, 255, 0.808);
    border-color: rgba(255, 255, 255, 0.158); }
  .navbar .navbar-collapse .buttonGroup .logout {
    background-color: rgba(236, 132, 132, 0.63);
    color: rgba(255, 255, 255, 0.808); }

.navbar .navbar-collapse .login {
  background-color: rgba(132, 236, 179, 0.63);
  color: rgba(255, 255, 255, 0.808);
  border-color: rgba(255, 255, 255, 0.158);
  display: flex;
  justify-content: center; }

@media screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    padding: 0.5rem; }
    .navbar .navbar-collapse p,
    .navbar .navbar-collapse a {
      padding: 0.5rem;
      margin-bottom: 0; } }

@media screen and (max-width: 500px) {
  .navbar .navbar-collapse a {
    padding: 0.75rem; }
  .navbar .navbar-collapse .buttonGroup button {
    width: 20%;
    margin: 0.5rem; } }

* {
  padding: 0;
  margin: 0; }

#homepage .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1488441770602-aed21fc49bd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#gyms .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#booking .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#login .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1544198365-f5d60b6d8190?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

#signup .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#profile .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#confirm .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#homepage .jumbotron,
#gyms .jumbotron,
#booking .jumbotron,
#login .jumbotron,
#signup .jumbotron,
#profile .jumbotron,
#confirm .jumbotron {
  display: flex;
  justify-content: center;
  align-items: center; }

#homepage h1,
#gyms h1,
#booking h1,
#login h1,
#signup h1,
#profile h1,
#confirm h1 {
  text-align: center;
  color: #fff; }

#homepage .container,
#gyms .container,
#booking .container,
#login .container,
#signup .container,
#profile .container,
#confirm .container {
  text-align: center; }

#homepage .container button,
#gyms .container button,
#booking .container button {
  padding: 0.4rem 0.75rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
  background-color: #343a40;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer; }

#gyms .container .form-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#gyms .container .gym {
  border: rgba(0, 0, 0, 0.411) solid 1px;
  -webkit-box-shadow: 4px 4px 4px -2px rgba(138, 138, 138, 0.61);
  -moz-box-shadow: 4px 4px 4px -2px rgba(138, 138, 138, 0.61);
  box-shadow: 4px 4px 4px -2px rgba(138, 138, 138, 0.61); }

#booking .container .timeslot {
  border: rgba(0, 0, 0, 0.411) solid 1px;
  -webkit-box-shadow: 4px 4px 4px -2px rgba(138, 138, 138, 0.61);
  -moz-box-shadow: 4px 4px 4px -2px rgba(138, 138, 138, 0.61);
  box-shadow: 4px 4px 4px -2px rgba(138, 138, 138, 0.61); }
  #booking .container .timeslot .extraBtn {
    background-color: #343a4036;
    color: #343a40;
    font-size: 1rem; }

#confirm .container #confirm-booking {
  background-color: rgba(108, 180, 108, 0.418); }

#confirm .container #confirm-info {
  border: rgba(0, 0, 0, 0.411) solid 1px; }

#profile .container .userInfo {
  text-align: start; }

#profile .container .userBooking {
  border: rgba(0, 0, 0, 0.411) solid 1px;
  text-align: start;
  display: flex;
  flex-flow: column wrap;
  -webkit-box-shadow: 4px 4px 4px -2px rgba(138, 138, 138, 0.61);
  -moz-box-shadow: 4px 4px 4px -2px rgba(138, 138, 138, 0.61);
  box-shadow: 4px 4px 4px -2px rgba(138, 138, 138, 0.61); }
  #profile .container .userBooking button {
    align-self: flex-end;
    background-color: rgba(226, 36, 36, 0.63);
    border: 1px solid black; }

#login .container .button button,
#signup .container .button button {
  text-align: center;
  color: #fff;
  background-color: #343a40;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer; }

#login .container .signup a,
#login .container .login a,
#signup .container .signup a,
#signup .container .login a {
  color: #007bff; }
  #login .container .signup a:visited,
  #login .container .login a:visited,
  #signup .container .signup a:visited,
  #signup .container .login a:visited {
    color: #007bff; }

#signup .container .form-group span {
  color: rgba(226, 36, 36, 0.63); }

#signup .container .certified-info input[type="checkbox"] {
  display: inline;
  width: 10%;
  font-size: 0.2rem;
  margin-left: 1rem; }

#signup .container .certified-info label {
  margin-bottom: 0; }

#signup .container .certified-info .text-muted {
  margin-top: 0; }

@media screen and (min-width: 769px) and (max-width: 990px) {
  #homepage .container,
  #gyms .container,
  #booking .container,
  #login .container,
  #signup .container,
  #profile .container,
  #confirm .container {
    padding: 0 3rem; }
    #homepage .container p,
    #gyms .container p,
    #booking .container p,
    #login .container p,
    #signup .container p,
    #profile .container p,
    #confirm .container p {
      line-height: 2rem; }
  #gyms .container {
    padding: 0; }
    #gyms .container .intro {
      padding: 0 2rem; }
      #gyms .container .intro p {
        margin-bottom: 0; }
    #gyms .container .form-inline input {
      width: 40%;
      margin: 1.5rem 1.3rem 1.3rem 1.3rem; }
    #gyms .container .allGyms {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      #gyms .container .allGyms .gym {
        width: 45%;
        margin: 1rem;
        padding: 1.5rem; }
        #gyms .container .allGyms .gym h3 {
          height: 30%; }
        #gyms .container .allGyms .gym button {
          margin-bottom: 0; }
  #booking .container {
    padding: 0; }
    #booking .container .info-gym {
      margin-bottom: 1rem; }
      #booking .container .info-gym p {
        margin-bottom: 0; }
    #booking .container .react-datepicker-wrapper {
      display: block;
      margin-bottom: 1rem; }
      #booking .container .react-datepicker-wrapper input {
        width: 40%;
        padding: 0.2rem; }
    #booking .container .timeslots {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      #booking .container .timeslots .timeslot {
        margin: 0.5rem;
        width: 45%;
        padding: 1.5rem;
        align-self: flex-start; }
        #booking .container .timeslots .timeslot form input[type="text"] {
          display: block;
          margin: 1rem auto; }
        #booking .container .timeslots .timeslot form button {
          margin-top: 1rem; }
  #confirm .container #confirm-booking {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    text-align: start; }
    #confirm .container #confirm-booking p {
      margin-bottom: 0; }
  #confirm .container #confirm-info {
    margin-bottom: 2rem;
    padding: 1rem 1.5rem; }
    #confirm .container #confirm-info h5 {
      font-size: 1.65rem; }
    #confirm .container #confirm-info ul {
      text-align: start;
      padding-left: 0.75rem; }
      #confirm .container #confirm-info ul li {
        padding: 0.3rem 0; }
  #profile .container {
    padding: 0; }
    #profile .container .userInfo p {
      margin-bottom: 0;
      margin-left: 4rem; }
    #profile .container h3 {
      margin: 1.5rem;
      font-size: 2rem; }
    #profile .container .allBookings {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      #profile .container .allBookings .userBooking {
        margin: 1rem;
        padding: 1.5rem 2rem;
        width: 45%; }
        #profile .container .allBookings .userBooking button {
          padding: 0.2rem 0.7rem; }
  #login .container form,
  #signup .container form {
    margin-bottom: 3.5rem; }
    #login .container form .form-group,
    #signup .container form .form-group {
      margin-bottom: 2rem; }
      #login .container form .form-group input,
      #signup .container form .form-group input {
        width: 60%;
        margin: 0 auto; }
  #login .container .login,
  #login .container .signup,
  #signup .container .login,
  #signup .container .signup {
    margin-bottom: 2rem; } }

@media screen and (max-width: 768px) {
  #homepage .jumbotron,
  #gyms .jumbotron,
  #booking .jumbotron,
  #login .jumbotron,
  #signup .jumbotron,
  #profile .jumbotron,
  #confirm .jumbotron {
    height: 30vh; }
  #homepage .container,
  #gyms .container,
  #booking .container,
  #login .container,
  #signup .container,
  #profile .container,
  #confirm .container {
    padding: 0 2rem; }
    #homepage .container p,
    #gyms .container p,
    #booking .container p,
    #login .container p,
    #signup .container p,
    #profile .container p,
    #confirm .container p {
      line-height: 2rem; }
  #gyms .container .form-inline input {
    width: 60%;
    margin: 1.5rem 1.3rem 1.3rem 1.3rem; }
  #gyms .container .gym {
    margin: 2rem 0.5rem;
    padding: 1.5rem; }
    #gyms .container .gym button {
      margin-bottom: 0; }
  #booking .container .react-datepicker-wrapper {
    display: block;
    margin-bottom: 1rem; }
  #booking .container .timeslot {
    margin: 2rem 0.5rem;
    padding: 1.5rem; }
    #booking .container .timeslot form input[type="text"] {
      display: block;
      margin: 1rem auto; }
    #booking .container .timeslot form button {
      margin-top: 1rem; }
  #confirm .container #confirm-booking {
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: start; }
    #confirm .container #confirm-booking p {
      margin-bottom: 0; }
  #confirm .container #confirm-info {
    margin-bottom: 2rem;
    padding: 1rem 1.5rem; }
    #confirm .container #confirm-info h5 {
      font-size: 1.5rem; }
    #confirm .container #confirm-info ul {
      text-align: start;
      padding-left: 0.75rem; }
      #confirm .container #confirm-info ul li {
        padding: 0.3rem 0; }
  #profile .container .userInfo p {
    margin-bottom: 0;
    margin-left: 2rem; }
  #profile .container h3 {
    margin: 1.5rem; }
  #profile .container .userBooking {
    margin: 2rem;
    padding: 1.5rem 2rem; }
    #profile .container .userBooking button {
      padding: 0 0.65rem; }
  #login .container form,
  #signup .container form {
    margin-bottom: 3.5rem; }
    #login .container form .form-group,
    #signup .container form .form-group {
      margin-bottom: 2rem; }
      #login .container form .form-group input,
      #signup .container form .form-group input {
        width: 60%;
        margin: 0 auto; }
  #login .container .login,
  #login .container .signup,
  #signup .container .login,
  #signup .container .signup {
    margin-bottom: 2rem; } }

@media screen and (max-width: 500px) {
  #homepage .jumbotron,
  #gyms .jumbotron,
  #booking .jumbotron,
  #login .jumbotron,
  #signup .jumbotron,
  #profile .jumbotron,
  #confirm .jumbotron {
    height: 25vh; }
  #homepage .container,
  #gyms .container,
  #booking .container,
  #login .container,
  #signup .container,
  #profile .container,
  #confirm .container {
    padding: 0 1.5rem; }
  #homepage .container p,
  #gyms .container p,
  #booking .container p {
    line-height: 1.75rem; }
  #gyms .container .form-inline input {
    width: 60%;
    margin: 1rem 1.3rem 1.3rem 1.3rem; }
  #gyms .container .gym {
    margin: 1rem 6%;
    padding: 0.5rem; }
    #gyms .container .gym h3 {
      padding: 1rem; }
    #gyms .container .gym button {
      margin-bottom: 1rem; }
  #booking .container .react-datepicker-wrapper {
    display: block;
    margin-bottom: 1rem; }
  #booking .container .timeslot {
    margin: 1rem 2rem;
    padding: 1rem; }
    #booking .container .timeslot .extraClimbers {
      display: block;
      margin: 1rem auto; }
    #booking .container .timeslot button {
      display: block;
      margin: 1rem auto; }
  #confirm .container {
    text-align: start; }
    #confirm .container #confirm-booking {
      padding: 1rem;
      margin-bottom: 2rem; }
      #confirm .container #confirm-booking p {
        margin-bottom: 0; }
    #confirm .container #confirm-info {
      margin-bottom: 2rem;
      padding: 1rem; }
      #confirm .container #confirm-info h5 {
        text-align: center; }
      #confirm .container #confirm-info ul {
        padding-left: 1rem;
        margin-bottom: 0; }
        #confirm .container #confirm-info ul li {
          padding: 0.3rem 0; }
  #profile .container .userInfo {
    margin-left: 1rem;
    margin-bottom: 2rem; }
    #profile .container .userInfo p {
      margin-bottom: 0;
      line-height: 1.7rem; }
  #profile .container .userBooking {
    padding: 1.3rem 10%;
    margin: 1rem; }
    #profile .container .userBooking button {
      width: 9rem; }
  #login .container .form-control,
  #signup .container .form-control {
    width: 70%;
    margin: 0 auto; }
  #login .container .button,
  #signup .container .button {
    margin-top: 2rem; }
    #login .container .button button,
    #signup .container .button button {
      padding: 0.4rem 0.75rem; }
  #login .container .signup,
  #login .container .login,
  #signup .container .signup,
  #signup .container .login {
    margin-top: 10%;
    margin-bottom: 2rem; }
  #signup .container .certified-info .text-muted {
    padding: 0 20%; } }
