#homepage .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1488441770602-aed21fc49bd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
}

#gyms .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
}

#booking .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
}

#login .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1544198365-f5d60b6d8190?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: top;
}

#signup .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
}

#profile .jumbotron {
  background: #f3dbdb;
  background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80");
  background-repeat: no-repeat;
  background-position: center;
}
#homepage .jumbotron,
#gyms .jumbotron,
#booking .jumbotron,
#login .jumbotron,
#signup .jumbotron,
#profile .jumbotron {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage h1,
#gyms h1,
#booking h1,
#login h1,
#signup h1,
#profile h1 {
  text-align: center;
  color: #fff;
}

#homepage .container,
#gyms .container,
#booking .container,
#profile .container {
  padding: 0 1rem;
  text-align: center;
}
#homepage .container p,
#gyms .container p,
#booking .container p {
  line-height: 1.75rem;
}
#homepage .container button,
#gyms .container button,
#booking .container button {
  padding: 0.4rem 0.75rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
  background-color: #343a40;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer;
}

#gyms .container .form-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#gyms .container .form-inline input {
  width: 60%;
  margin: 1.3rem;
}

#gyms .container .gym,
#booking .container .timeslot {
  border: black solid 1px;
  margin: 1rem 2rem;
}
#gyms .container .gym h3 {
  padding: 1rem;
}

#booking .container .react-datepicker-wrapper {
  display: block;
  margin-bottom: 1rem;
}

#booking .container .timeslot {
  padding: 1rem;
}
#booking .container .timeslot .extraClimbers {
  display: block;
  margin: 1rem auto;
}
#booking .container .timeslot .extraBtn {
  background-color: #343a4036;
  color: #343a40;
  font-size: 1rem;
}
#booking .container .timeslot button {
  display: block;
  margin: 1rem auto;
}

#profile .container .userBooking {
  border: black solid 1px;
  padding: 1rem 3rem;
  margin: 1rem;
  text-align: start;
}

.navbar-collapse a,
.navbar-collapse p {
  text-align: center;
  color: #fff;
}
.navbar-collapse a {
  text-decoration: underline;
  padding: 0.75rem;
}
.navbar-collapse a:visited {
  color: #fff;
}

.navbar-collapse button {
  width: 20%;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.377);
  color: black;
  border-color: rgba(255, 255, 255, 0.158);
}

@media (min-width: 575.98px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
